.grids-wrapper {
    display: flex;
    width: 80wv;
    flex-wrap: wrap;
    justify-content: space-around;
    height: max-content;
    background: -webkit-linear-gradient(to right, #eb5757, #000000);
    background: linear-gradient(to right, #eb5757, #000000);
    text-align: center;
}

.card{
    width: 200px;
    height: max-content;
    margin-bottom: 2vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
.card img {
    display: block;
    width: 60%;
    margin: 0 auto;
}